<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Message groups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="chatboxes" slot="start"></ion-icon>
      <ion-label>Group Name One</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/messages']" routerDirection="forward">Join</ion-button>
    </ion-item>
  
    <ion-card-content>
      The group consists of the follow Business Units<br>
      ........<br>
      ........<br>
      ........
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="chatboxes" slot="start"></ion-icon>
      <ion-label>Group Name Two</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/messages']" routerDirection="forward">Join</ion-button>
    </ion-item>
  
    <ion-card-content>
      The group consists of the follow Business Units<br>
      ........<br>
      ........<br>
      ........
    </ion-card-content>
  </ion-card>
</ion-content>

